* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    background-color: #E8D7F4;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #311C3F;
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #311C3F;
}

footer {
    background-color: #311C3F;
    padding: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.footer-container {
    color: #E8D7F4;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 20%;
}

.nav-link {
    padding: 0 12px;
    line-height: 50px;
    transition: .3s;
    color: #E8D7F4;
    text-decoration: none;  
    transition: color 0.5s;
}

.nav-link:hover {
    color: #9a44d3;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.section {
    width: calc(50% - 30px);
    padding: 20px;
    padding-bottom: 35px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 1px 14px 0px rgba(69, 34, 80, 0.16);
}

.section-profile {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 50px 30px 35px;
    justify-content: space-around;
}

.section-profile-title {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
}

.profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 3px 1px 14px 3px rgba(69, 34, 80, 0.45);
    margin: 30px;
}

.section-item {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 30px;
  }
  
.section-item::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 8px;
    height: 8px; 
    border: 1px solid #9247c4;
    border-radius: 50%;
  }

.section-title {
    font-family: 'Mitr', sans-serif;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #9247c4;
}

.section-subtitle {
    margin-top: 20px;
}

.main-title {
    position: relative;
    font-size: 50px;
    letter-spacing: 2px;
    color: #431f5c;
    margin-bottom: 20px;
    border-bottom: 1px solid #431f5c;
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    }
}

.link {
    text-decoration: none;
    color: #9247c4;
    transition: color 0.5s;
}
  
.link:hover {
    color: #311C3F;
}